@import 'layout.scss';
@import 'theme-variables.scss';

#gameModeBox{
  width: fit-content;
  margin-top:5em;
  background: $background-blue;
  padding:10px;
  border-radius: 25px;
  .modeItem{
    padding: 4px;
    width: fit-content;
    &:hover{
      background:$primary-pink;

    }
  }
  .itemClicked{
    background:$primary-pink;
  }
}
#modeDescription{
  width: fit-content;
  margin-top:5em;
  background: $background-blue;
  padding:10px;
  border-radius: 15px;
} 